<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="WordPlate Test Suite">
            <directory suffix="Test.php">.</directory>
            <exclude>tests/vendor</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">tests/vendor/wordplate/framework/src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="WP_ENV" value="testing"/>
    </php>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
